.cardReports {
  padding: 1rem;
  width: 65vw;
  border: 3px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.headerTitulo {
  display: flex;
  align-items: center;
  color: #370963;
  font-size: 0.9rem;
}

.descricao {
  text-align: left;
  width: 100%;
  margin: 1rem;
}

.buttons {
  display: flex;
}

.cardFooter {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
  gap: 4%;
}

.responsavel {
  display: flex;
  align-items: center;
  gap: 0.8vw;
}

.responsavel h4 {
  color: #e6b648;
}

.responsavel img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.tarefa {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 0.5vw;
}

.tarefa svg {
  color: #370963;
}

@media (max-width: 1024px) {
  .cardReports {
    width: 80vw;
    margin-bottom: 2rem;
  }

  .cardHeader {
    display: flex;
    flex-direction: column-reverse;
  }

  .headerTitulo {
    align-self: flex-start;
  }

  .buttons {
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 1.5rem;
  }

  .headerTitulo {
    font-size: 0.7rem;
  }

  .responsavel {
    font-size: 0.9rem;
  }

  .tarefa {
    font-size: 0.7rem;
  }
}
