.boxContainer {
  display: flex;
  width: 100%;
  height: 100vh;
}

.boxContainerLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 4rem;
  width: 50%;
  height: 100vh;
  background: linear-gradient(180deg,
      #370963 17%,
      #6811BA 69%,
      #7012C9 100%);
  color: white;
  text-align: start;
}

.boxContainerLeft h1 {
  font-size: 3em;
  width: 80%;
  margin-bottom: 2%;
}

.boxContainerLeft p {
  font-size: 1.4em;
  width: 70%;
}

.boxContainerRight {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background: #ECECEC;
  padding: 4rem 3rem;
  border-radius: 18px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.boxContainerRight h2 {
  margin-bottom: 2rem;
  text-align: center;
  color: #370963;
  font-size: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form label {
  margin-bottom: 0.2rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.form input {
  padding: 0.8rem 1rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  border: 1px solid #CCCCCC;
  font-size: 1rem;
  transition: all 0.2s;
  cursor: pointer;
}

.form input:focus {
  outline: none;
  border-color: #6811BA;
  box-shadow: 0 0 5px #6811BA80;
}

.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordContainer input {
  width: 100%;
  padding-right: 2.5rem;
}

.eyeIcon {
  position: absolute;
  right: 1rem;
  transform: translateY(-50%);
  color: #6811BA;
  cursor: pointer;
  transition: color 0.2s ease;
}

.eyeIcon:hover {
  color: #370963;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: 2% 0;
}

.buttonWrapper button {
  width: 100%;
}

.loginButton {
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 1024px) {
  .boxContainer {
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  .boxContainerLeft {
    width: 100%;
    height: auto;
    padding: 3rem 2rem;
    align-items: center;
    text-align: center;
  }

  .boxContainerLeft h1 {
    font-size: 2.4em;
    width: 100%;
  }

  .boxContainerLeft p {
    font-size: 1.2em;
    width: 90%;
  }

  .boxContainerRight {
    width: 100%;
    height: auto;
    padding: 3rem 0;
  }

  .formContainer {
    width: 70%;
    padding: 3rem 2rem;
  }
}
