.boxContainer {
  margin: 3vw;
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: 1vw;
  color: #370963;
}

.noticiasContainer {
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .boxContainer {
    margin-top: 5vw;
  }
}
