.button {
  padding: 0.5rem 1rem;
  margin: 0 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  transition: 0.3s;
}

.button.clicavel {
  cursor: pointer;
}

.button.nao-clicavel {
  cursor: default;
}

.button.primario {
  background-color: #370963;
  color: white;
  border: 3px solid #370963;
}

.button.primario.clicavel:active { 
  filter: brightness(0.5);
  scale: 0.98;
}

.button.secundario {
  background-color: white;
  color: #370963;
  border: 3px solid #c2c2c2;
}

.button.secundario.clicavel:active {
  filter: brightness(0.5);
  scale: 0.98;
}

.button.lilas {
  background-color: #eadaf5;
  color: #370963;
  border: 3px solid #eadaf5;
}

.button.lilas.clicavel:active {
  filter: brightness(0.5);
  scale: 0.98;
}

.button.amarelo {
  background-color: #e6b648;
  color: white;
  border: 3px solid #e6b648;
}

.button.amarelo.clicavel:active {
  filter: brightness(0.5);
  scale: 0.98;
}
