.cardUsuarios {
  padding: 1rem;
  width: 22vw;
  height: fit-content;
  border: 3px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cardUsuarios button {
  width: 100%;
  box-sizing: border-box;
}

.headerCardUsuarios {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headerCardUsuarios p {
  font-size: 0.8rem;
}

.responsavel {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 4%;
}

.responsavel h4 {
  margin: 0;
  color: #370963;
}

.responsavel img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.contato {
  margin: 6% 0;
  width: 90%;
  font-size: 0.9rem;
}

.contato > div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  margin: 2% 0;
}

.divisao {
  width: 95%;
  border: none;
  border-bottom: 2px solid #ccc;
  margin: 0 0 1rem;
}

.informacoes {
  margin: 0 0 6%;
  width: 90%;
}

.informacoes p:nth-child(odd) {
  font-weight: 600;
  color: #370963;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: row;
  margin: 2.5% 0;
}

.info p {
  margin: 0;
  font-size: 0.9rem;
}

.infoHabilidades {
  display: flex;
  flex-direction: column;
  margin: 2.5% 0;
  font-size: 0.9rem;
}

.listaHabilidades {
  padding: 2% 10%;
}

.maisHabilidades {
  cursor: pointer;
  font-weight: bold;
  list-style: none;
  margin-left: -0.5rem;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

@media (max-width: 1024px) {
  .cardUsuarios {
    width: 60vw;
  }
}
