.boxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3vw;
}

.boxContainer h1 {
  color: #370963;
}

.logout {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  font-size: 35px !important;
  color: red;
  cursor: pointer;
  transition: all 0.3s;
}

.logout:hover {
  transform: scale(1.1);
  opacity: 0.8;
  transition: all 0.3s;
}

@media (max-width: 1024px) {
  .boxContainer {
    margin-top: 5vw;
  }
  
  .cardsContainer {
    margin-top: 4vw;
  }

  .logout {
    bottom: 2rem;
  }
}
