.boxContainer {
  margin: 4vw;
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: 1vw;
  color: #370963;
}

.cardsContainer {
  margin-top: 2vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
}

.buscaContainer {
  margin-top: 4vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reportsContainer {
  margin-top: 4vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
}

@media (max-width: 1024px) {
  .cardsContainer {
    margin-top: 4vw;
  }

  .buscaContainer {
    margin: 6vw 0;
  }
}
