.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.container {
  margin: 0;
  width: 100vw;
  height: 8vh;
  border-bottom: 4px solid #e6b648;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titulo {
  margin-left: 2vw;
  font-family: "Cinzel", serif;
  color: #370963;
  cursor: pointer;
}

.navegation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2vw;
}

.avisosButton {
  position: relative;
  display: inline-block;
}

.marcadorNoSelect {
  position: absolute;
  top: -0.2rem;
  right: 0.4rem;
  background-color: #e6b648;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 50%;
  min-width: 1rem;
  text-align: center;
}

.marcadorSelect {
  position: absolute;
  top: -0.2rem;
  right: 0.4rem;
  background-color: #370963;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 50%;
  min-width: 1rem;
  text-align: center;
}
