.container {
  margin: 0;
  width: 100vw;
  height: 8vh;
  border-bottom: 4px solid #e6b648;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 1rem;
}

.titulo {
  margin-left: 2vw;
  font-family: "Cinzel", serif;
  color: #370963;
  cursor: pointer;
}

.navegation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4rem;
}

.avisosButton {
  position: relative;
  display: inline-block;
}

.marcadorSelect,
.marcadorNoSelect {
  position: absolute;
  top: -0.2rem;
  right: 0.4rem;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 50%;
  min-width: 1rem;
  text-align: center;
}

.marcadorNoSelect {
  background-color: #E6B648;
}

.marcadorSelect {
  background-color: #370963;
}

.menuIcon {
  display: none;
  cursor: pointer;
  color: #370963;
}

.mobileMenu {
  position: absolute;
  top: 8vh;
  right: 0;
  width: 100%;
  background: #F8F8F8;
  display: none;
  justify-content: center !important;
  align-items: center;
  transform: translateX(0.5rem);
  padding: 1.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.mobileMenuAberto {
  display: flex;
}

/* Responsividade */
@media (max-width: 1024px) {
  .navegation {
    display: none;
  }

  .menuIcon {
    display: block;
    margin-right: 8vw;
  }
}
