.boxContainer {
  margin: 4vw;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  color: #370963;
}

.titulo {
  display: flex;
  align-items: center;
}

.cardsContainer {
  margin-top: 2vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
}

.buscaContainer {
  margin-top: 4vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.usersContainer {
  margin-top: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4vw;
}
