.boxContainer {
  margin: 4vw;
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: 1vw;
  color: #370963;
}

.cardsContainer {
  margin-top: 2vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
}

.buscaAdicionarContainer {
  margin-top: 4vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buscar {
  width: 70%;
}

.usersContainer {
  margin-top: 4vw;
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
  justify-content: center;
}
