.cardInformacoes {
  padding: 1rem;
  padding-bottom: 0.5rem;
  width: 18vw;
  height: 20vh;
  border: 3px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #370963;
}

.headerCardInformacoes {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 50%;
}

.headerCardInformacoes h1 {
  width: 70%;
}

.icone {
  width: 2rem;
  height: 2rem;
  margin-right: -0.5rem;
  border-radius: 50%;
}

.bodyCardInformacoes {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 50%;
}

.bodyCardInformacoes h1 {
  font-size: 3.5rem;
}

@media (max-width: 1024px) {
  .cardInformacoes {
    width: 35vw;
    height: 15vh;
  }
}
