.buscarContainer {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 6px 12px;
  width: 80%;
  background: #fff;
}

.buscarIcone {
  color: #aaa;
  margin-right: 8px;
  font-size: 20px;
}

.buscarInput {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
}
