.buscarContainer {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 6px 12px;
  width: 80%;
  background: #fff;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.buscarContainer:focus-within {
  border-color: #E6B648;

  .buscarIcone {
    color: #E6B648;
  }
}

.buscarIcone {
  color: #aaa;
  margin-right: 8px;
  font-size: 20px;
}

.buscarInput {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
}
